body {
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFF;
}

a {
text-decoration: none;
}

ul, ol {
list-style: none;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logo-part {
color: #2e2f42;
}

.nav-link {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.address {
font-style: normal;
}

.address-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.address-link:hover,
.address-link:focus{
color: #404bbf;
}

.title-header {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;
text-align: center;
}
.title-button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
   
.title-button:hover,
.title-button:focus {
    background-color: #404BBF;
}

.advantages-title {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
}
.advantages-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.portfolio {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.portfolio-items {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-items-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.studio-first {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.web-title {
    background-color: #2e2f42;
}

.text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #f4f4fd;
}